.advantage {
   padding: 70px 0 75px 0;
   min-height: 470px;
   background-color: #f6f6f6;
   &__header {
      font-size: 30px;
      font-weight: 700;
      color: $second-color;
      text-align: center;
   }
   &__icons {
      margin-top: 65px;
      max-width: 950px;
      display: flex;
      justify-content: space-between;
   }
   &__icon {
      font-size: 14px;
      font-weight: 400;
      color: $second-color;
      padding: 0 40px;
      text-align: center;
      span {
         display: block;
         text-align: center;
         font-size: 18px;
         font-weight: 700;
         color: $second-color;
         margin-bottom: 26px;
      }
      img {
         display: block;
         margin: 0 auto;
         margin-bottom: 38px;
      }
      a {
         color: #ff0000;
         text-decoration: underline;
         font-weight: 500;
      }
   }
   &__animated {
      animation-name: heartbeat;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
   }
}
